.page-header-c {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.page-header-icon {
    /* background: #2d353c; */
    /* padding: 5px 10px 5px 10px; */
    /* padding: 10px 10px 10px 10px; */
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 1px #333333; */
    color: #fff;

    margin-right: 5px;
    background: #2d353c;
    /* border: 10px solid transparent; */
    border: 10px solid transparent;
    border-color: transparent rgba(119, 119, 119, 0.15) rgba(141, 141, 141, 0.3);
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.page-header-text {
    margin-left: 5px;
}

.page-table-not-found {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* PAGE HEADER CUSTOM */
.page-header {
    background-color: #fff;
    border-radius: 3px;
    /* -webkit-box-shadow: 0 0 28px rgba(0,0,0,.08); */
    /* box-shadow: 0 0 28px rgba(0,0,0,.08); */
    margin-bottom: 12px;
    padding: 20px 20px 10px 20px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.page-header .breadcrumb {
    padding: 0;
    margin: 0;
}
.breadcrumb {
    background: 0 0;
    padding: 0.75rem 0;
}
.breadcrumb {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}
ol, ul {
    margin: 0;
    list-style: none;
}
ol, p, ul {
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.icon-page-sidebar {
    background: linear-gradient(45deg, #242b30, #242b30);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 5px 25px rgb(80 80 80 / 30%);
}
.oke-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.elemen-bg {
    background: #6c757d;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

/* ENABLED */
.btn-enabled {
    color: #fff;
    background-color: #4cbd4c;
    border-color: #4cbd4c;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.btn-enabled:hover {
    color: #fff;
    background-color: #61d861;
    border-color: #61d861;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

/* DISABLED */
.btn-disabled {
    color: #fff;
    background-color: #e91f1f;
    border-color: #e91f1f;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.btn-disabled:hover {
    color: #fff;
    background-color: #f33d3d;
    border-color: #f33d3d;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.font-not-found {
    font-size: 20px;
    font-weight: 700;
}

.line-page {
    height: 1.5px;
    margin: 0px 0px 15px 0px;
    background: #444e66;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 52%);
}

.f-action {
    display: show;
}

@media (max-width: 1210.5px) {
    .f-action {
        display: none;
    }
}

.action-table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-table-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Modal Color */
/* Save */
/* Update */
.for-update {
    background-color: #00acac;
    color: #fff;
}
/* Delete */
.for-delete {
    background-color: #ff5b57;
    color: #fff;
}
/* Info */
.for-info {
    background-color: #49b6d6;
    color: #fff;
}
/* Secondary */
.for-secondary {
    background-color: #6c757d;
    color: #fff;
}
/* Lime */
.for-lime {
    background-color: #90ca4b;
    color: #fff;
}
/* Enabled */
.for-enabled {
    background-color: #4cbd4c;
    color: #fff;
}
/* Disabled */
.for-disabled {
    background-color: #e91f1f;
    color: #fff;
}


#icon-in-table {
    background: #6c757d;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    border-radius: 5px;
}